* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #fff;
}

body {
  background-size: cover;
  background: #6495ed;
}

h1,h6  {
  text-align: center;
}
.logo {
  font: 84px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -4px;
  background-color: #282828

}

/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: -10;
}


.logo .word1 {
  color: #C42D2D;
  margin-right: -38px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;
}



.logo1{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  float: left;
  margin: 0;
}
h5 {
  float: left;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  box-shadow: 4px 4px 5px #000;
}



p {
  font-size: auto;
}

.containerd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cobus{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  width: 100%;

}
div.logo1 img {

  width: 75px;
  height: 55px;

}

div.containerd img {
  width: 300px;
  height: 200px;
  margin: 15px;
  transition: all 1s;
  padding: 5px;
  border-radius: 15px;
}

div.containerd img:hover {
  transform: scale(1.5);
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 10;

}
li{
text-decoration: none;
margin: 10px;
background-color: #00E6FB;
}
.containerd2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.containerd2 img {
  width: 70px;
  height: 40px;
  margin: 15px;
  transition: all 0.5s;
  padding: 5px;
  border-radius: 25px;
}

div.containerd2 img:hover {
  transform: scale(0.5);
}
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #6495ed;
  color:            white;
  }
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #6495ed;
  color:            #C42D2D;
  }
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  underline;
  font-weight:      bold;
  background-color: none;
  color:            #00E6FB;
  }
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  font-weight:      bold;
  background-color: #00E6FB;
  color: white;
  }


  @media only screen and (max-width: 600px) {
      ul {
      font: 3px;

      }
      li{
              background-color: #6495ed
      }
      div.containerd img:hover {
        transform: none;
      }
      div.containerd2 img:hover {
        transform: none;
      }
      .logo {
        font: 50px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
        color: #fefefe;
        text-transform: uppercase;
        letter-spacing: -4px;
        background-color: #282828

      }
  }
