* {
  font-family: 'Lato', Helvetica, sans-serif;
  color: #fff;
  margin-top: 15px;
}

body {
  background-size: cover;
  background: #6495ed;
}

h1,h6 {
  text-align: center;
}

h5 {
  float: left;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  box-shadow: 4px 4px 5px #000;
}
h4{
  margin-left: 220px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 10;

}
li{
text-decoration: none;
margin: 10px;
background-color: #00E6FB;
}
.containerd2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  font-size: auto;
  margin: 0px 220px 0px 220px;
}

.containerd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cobus{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  width: 100%;

}
div.logo1 img {

  width: 75px;
  height: 55px;

}
hr.style-one {
  border:none;
  height: 20px;
  width: 30%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
div.containerd img {
  width: 175px;
  height: 95px;
  margin: 15px;
  transition: all 1s;
  padding: 5px;
  border-radius: 15px;
}

div.containerd img:hover {
  transform: scale(1.5);
}
div.containerd2 img {
  width: 70px;
  height: 40px;
  margin: 15px;
  transition: all 0.5s;
  padding: 5px;
  border-radius: 25px;
}
.logo {
  font: 65px 'Arial Narrow', sans-serif;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -4px;
  background-color: #6495ed;



}


/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: '';
  position: absolute;
  border-width: 32px;/* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: -10;
}


.logo .word1 {
  color: #C42D2D;
  margin-right: -38px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
  z-index: 10;
}



.logo1{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  float: left;
  margin: 0;
}
div.containerd2 img:hover {
  transform: scale(0.5);
}
a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  background-color: #6495ed;
  color:            white;
  }




  @media only screen and (max-width: 768px) {
      ul {
      font: 3px;

      }
      li{
              background-color: #6495ed
      }
      div.containerd img:hover {
        transform: none;
      }
      div.containerd2 img:hover {
        transform: none;
      }
      .logo {
        font: 50px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
        color: #fefefe;
        text-transform: uppercase;
        letter-spacing: -4px;
        background-color: #6495ed;

      }
      p {

  margin: 0;
}
h4 {

  margin: 0;
}
  }
