* {
  font-family: 'Lato', Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
body {
  background-size: cover;
  background: #6495ed;
}

.logo1 {
  width: 35%;
  float: left;
  margin: 0;
}
h5{
  text-align: left;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 25px 5px 0px 5px;
}

li {
  text-decoration: none;
  margin: 5px;
  text-decoration-color: red;
  font-size: 25px;
}
a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
  font-weight: bold;
  background-color: none;
  color: white;
}

li:hover {
  text-decoration: underline overline;
  font-weight: bold;
  background-color: #C42D2D;
  color: white;
  transform: scale(0.8);
  transition-duration: 3s;
}
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background-image: url("menu-icon.png");
}
.logo {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: -4px;
  background-color: #6495ed;
  text-align: center;
}

.logo .word1 {
  color: #C42D2D;
  transform: rotateY(360deg);
  display: inline-block;
  /* required for transform */
  z-index: 10;

}
.cobus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
  width: 100%;
}
.cobus img{
  width: 9em;
}
.containerd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexd{
  border: 2px solid black;
  margin: 10px;
  background-color: red;
  width: 200px;

}
.containerd2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div.fix{
  width:100%;
  align-content: center;
  word-spacing: 0.2em;

}
hr.style-one {
  border: none;
  height: 20px;
  width: 50%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px;
}
div.containerd img:hover {
  transform: scale(2.5);
}
div.containerd img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 11em;
  transition: all 0.5s;
  padding: 5px;
  border-radius: 25px;
}
div.containerd2 img:hover {
  transform: scale(0.5);
}

div.containerd2 img {
  width: 70px;
  height: 40px;
  margin: 15px;
  transition: all 0.5s;
  padding: 5px;
  border-radius: 25px;
}
@media only screen and (max-width: 650px) {
  .flexd{
    border: 2px solid black;
    margin: 10px;
    background-color: red;
    width: 300px;

  }

  hr.style-one {
    border: none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
  }
span.word1{
  font-size: 50px;
}
span.word2{
  font-size: 50px;
}
  #menu-icon {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }
  nav ul {
    display: none;
    position: absolute;
    padding: 20px;
    background: transparent;
    right: 20px;
    top: 60px;
    width: 25%;
    border-radius: 4px 0 4px 4px;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
  }
.show, nav:active {
    display: block;
  }
.logo1{
    width: 80%;
    float: left;
    margin: 0;
  }

}
