* {
  font-family: 'Lato', Helvetica, sans-serif;
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px 2px black, 0 0 5px darkblue;

}

body {
  background-size: cover;
  background: #6495ed;
  border: 2px solid lightblue;
  box-shadow: 1px 1px 2px 1px black;
}
.fixed{
  position: fixed;
  display: block;
  width: 98.5%;
  background-color: #1F5ED2;
  height: 65px;
  align-content: center;
  padding: none;
}
p{
  text-shadow: 1px 1px 2px black, 0 0 5px darkblue;
  padding: 5px 100px 5px 100px;
}

.logo1 {
  width: 30%;
  float: left;
  margin-left: 0;
  padding: 0;
}
h5{
  text-align: left;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

}

li {
  margin: 10px;
  text-decoration: none;
  text-decoration-color: red;
  font-size: 25px;
}
a:link {
  /* Applies to all unvisited links */
  text-decoration: none;
  font-weight: bold;
  background-color: none;
  color: white;
}

li:hover {
  text-decoration: underline overline;
  font-weight: bold;
  background-color: #C42D2D;
  color: white;
  transform: scale(0.8);
  transition-duration: 3s;
}
#menu-icon {
  display: hidden;
  width: 40px;
  height: 40px;
  background-image: url("menu-icon.png");
}
.logo {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: -4px;
  background-color: #6495ed;
  text-align: center;
}

.logo .word1 {
  color: #C42D2D;
  transform: rotateY(360deg);
  display: inline-block;


}
.cobus {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px;
  width: 100%;
}
.cobus img{
  width: 9em;
}
.containerd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.flexd{
  margin: 10px;
  background-color: transparent;
  width: 300px;
  border: none;


}
.containerd2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
div.fix{
  width:100%;
  align-content: center;
  word-spacing: 0.2em;

}
hr.style-one {
  border: none;
  height: 20px;
  width: 50%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid red;
  box-shadow: 0 20px 20px -20px #000;
  margin: -50px auto 10px;
}
div.containerd img:hover {
  transform: scale(2.5);
}
div.containerd img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 11em;
  transition: all 0.5s;
  padding: 5px;
  border-radius: 25px;
}
div.containerd2 img:hover {
  transform: scale(0.5);
}

div.containerd2 img {
  width: 70px;
  height: 40px;
  margin: 15px;
  transition: all 0.5s;
  padding: 5px;
  border-radius: 25px;
}


@media only screen and (max-width: 650px) {
  .flexd{
    margin: 10px;
    background-color: transparent;
    width: 300px;
    border: none;
    text-shadow: 1px 1px 2px black, 0 0 5px darkblue;

  }
  .fixed{
    position: fixed;
    display: block;
    width: 95.5%;
    background-color: #1F5ED2;
    height: 85px;
    align-content: center;
    padding: none;
  }
  .cobus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:35px;
    width: 100%;
  }
  hr.style-one {
    border: none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid red;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px;
  }
span.word1{
  text-shadow: 1px 1px 2px black, 0 0 5px darkblue;
}
span.word2{
  text-shadow: 1px 1px 2px black, 0 0 5px darkblue;
}
  #menu-icon {
    display: inline-block;
    float: right;
    margin-right: 10px;
  }
  nav ul {
    display: none;
    padding: 20px 20px 20px 20px;
    background: #012C46;
    right: 20px;
    top: 60px;
    width: 80%;
    border-radius: 4px 0 4px 4px;
    float: left;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    text-shadow: 1px 1px 2px black, 0 0 5px darkblue;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 0;
    z-index: 10;
  }
.show, nav:active {
    display: block;
  }
  p{
    padding: none;
    width: 435px;
    text-align: auto;
    margin:auto;
  }
.logo1{
    width: 80%;
    float: left;
    margin: 0;
    text-shadow: 1px 1px 2px black, 0 0 5px darkblue;
  }

}
